.jumbotron {
	background: url(img/horizontal_falls.jpg);
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0px;
    text-shadow: 3px 3px 3px #ccc;
}

.jumbotron h1, #results h1 {
	text-align: center;
    color: #ffcdd2;
	-webkit-text-stroke: 1px black;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}

#entry {
	text-align: center;
	background-color: #1e3264;
}
#entry h1, #entry hr {
	color: #ffcdd2;
	-webkit-text-stroke: 1px black;
}
#entry h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}

#results {
	background: url(img/dark_embroidery.png) repeat 0 0;
}
#results h1 {
    color: #ffcdd2;
}

p, div, label, li {
	color: #ffcdd2;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 25px;
}

footer {
    text-align: center;
    background: url(img/restaurant_icons.png) repeat 0 0;
}



